{% extends "layout.html" %}
{% block body %}
    <section class="bg-info bg-opacity-10 vh-100">
        <div class="container-sm">
            <form action="/" method="post" class="row p-5">
                <div class="input-group input-group-lg">
                    <span class="input-group-text m-2 border border-dark rounded-2"><strong>What is your favorite sport?</strong></span>
                    <select name="sport" id="" class="form-select m-2 form-control border border-dark rounded-2">
                        <option value="" disabled selected>Choose ...</option>
                        {% for item in sports %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-outline-dark m-2 form-control-sm border border-dark rounded-2" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}