{% extends "layout.html" %}

{% block body %}
    
    <section class="text-dark pt-5">
        <div class="container-sm">  
            <h1 class="display-6 text-left">Top NYT books on <code class="text-success">{{ list_name }}</code></h1>   
            <div class="row row-cols-1 row-cols-sm-4 g-4">
                    {% for item in images %}
                        <div class="col">
                            <div class="card h-70">
                                <img src="{{ item.image }}" class="card-img-top" alt="{{ item.title }}">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold">{{ item.title }}</h5>
                                    <h6 class="card-subtitle mb-2 font-weight-normal">By {{ item.author }}</h6>
                                    <p class="card-text font-weight-light">{{ item.description }}</p>
                                    <a href="{{ item.amazon }}" class="btn btn-outline-secondary"><i class="bi bi-bag-heart-fill"> </i> Buy Here</a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <!-- if else to show green and red for rank increase or decrease -->
                                <small class="text-muted">Weeks on list: <strong class="text-success">{{ item.weeks }}</strong></small> 
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </section>
    
{% endblock %}

